<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to KPMB</title>
    <style>
        h1{text-align: center;
        color: blue;}
        hr{border-width: 5px;
        border-color: red;}
    </style>
</head>
<body>
    {% load static %} <img src="{% static "1marakpmb-merah.png" %}" alt="home"  width="100%" height="150px"/>
    <br><br>
    <hr><hr>
    <br><br>
    <h1><strong>WELCOME TO KPM BERANANG SITE</strong></h1>
    <br><br>

    <form action="index" method="get">
        ID <input type="text" name="s_id"><br><br>
        Password <input type="text" name="s_pass">
        <input type="submit" value="ENTER">

    </form>

    {{message}}

    <br><br>
    <a href="signup">SIGNUP</a>
</body>
</html>